<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>战绩详情</title>
		<link rel="stylesheet" href="../css/lib/reset.css" />
		<link rel="stylesheet" href="../css/record/recordData.css" />
		<script type="text/javascript" src="../js/lib/rem.js" ></script>
	</head>
	<body>
		<div class="main-container" id="app">
			<!-- 头部标题栏 -->
			<ul class="top-ul clearfix">
				<li>
					总时长：{{matchInfo.useTime}}分钟
				</li>
				<li>
					<span class="top-font" :class="{ win : matchInfo.gameResult == 1, lost : matchInfo.gameResult == 2 }">
						{{matchInfo.ourKill}}
					</span>
					<span class="vs">
						VS
					</span>
					<span class="top-font" :class="{ lost : matchInfo.gameResult == 1, win : matchInfo.gameResult == 2 }">
						{{matchInfo.enemyKill}}
					</span>
				</li>
				<li>
					{{matchInfo.battleType}}
				</li>
			</ul>
			<!-- 中间详情 -->
			<!-- 我方胜利 -->
			<div class="record-group">
				<!-- 标题 -->
				<div class="group-title" :class="{ winBg : matchInfo.gameResult == 1, lostBg : matchInfo.gameResult == 2 }">
					{{matchInfo.gameResult == 1?"我方胜利":"我方失败"}}
				</div>
				<ul class="group-ul">
					<li v-for="item in ourBattleInfo">
						<div class="pull-left group-user-img">
							<div class="user-img">
								<img :src="item.heroImg" onerror="this.src='../images/record/hero-default.png'" />
							</div>
							<div class="hero-level">
								LV.{{item.level}}
							</div>
						</div>
						<div class="pull-left group-data-container">
							<div class="user-name ellipsis">
								{{item.userName}}
							</div>
							<ul class="data-ul clearfix">
								<li>
									<div class="data-title">
										总输出
									</div>
									<div class="data-num">
										{{item.totalHurt}}
									</div>
									<div class="data-charts">
										<div class="output chats-bg" :style="{width: item.totalHurtRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalHurtRate/10}}%</div>
									</div>
								</li>
								<li>
									<div class="data-title">
										对英雄伤害
									</div>
									<div class="data-num">
										{{item.totalHurtHero}}
									</div>
									<div class="data-charts">
										<div class="hurt chats-bg" :style="{width: item.totalHurtHeroRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalHurtHeroRate/10}}%</div>
									</div>
								</li>
								<li>
									<div class="data-title">
										承受伤害
									</div>
									<div class="data-num">
										{{item.totalBeHurt}}
									</div>
									<div class="data-charts">
										<div class="sufferHurt chats-bg" :style="{width: item.totalBeHurtRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalBeHurtRate/10}}%</div>
									</div>
								</li>
							</ul>
						</div>
						<div style="clear: both;"></div>
					</li>
				</ul>
			</div>
			<!-- 敌方 -->
			<div class="record-group">
				<!-- 标题 -->
				<div class="group-title" :class="{ lostBg : matchInfo.gameResult == 1, winBg : matchInfo.gameResult == 2 }">
					{{matchInfo.gameResult == 2?"敌方胜利":"敌方失败"}}
				</div>
				<ul class="group-ul">
					<li v-for="item in enemyBattleInfo">
						<div class="pull-left group-user-img">
							<div class="user-img">
								<img :src="item.heroImg" onerror="this.src='../images/record/hero-default.png'" />
							</div>
							<div class="hero-level">
								LV.{{item.level}}
							</div>
						</div>
						<div class="pull-left group-data-container">
							<div class="user-name ellipsis">
								{{item.userName}}
							</div>
							<ul class="data-ul clearfix">
								<li>
									<div class="data-title">
										总输出
									</div>
									<div class="data-num">
										{{item.totalHurt}}
									</div>
									<div class="data-charts">
										<div class="output chats-bg" :style="{width: item.totalHurtRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalHurtRate/10}}%</div>
									</div>
								</li>
								<li>
									<div class="data-title">
										对英雄伤害
									</div>
									<div class="data-num">
										{{item.totalHurtHero}}
									</div>
									<div class="data-charts">
										<div class="hurt chats-bg" :style="{width: item.totalHurtHeroRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalHurtHeroRate/10}}%</div>
									</div>
								</li>
								<li>
									<div class="data-title">
										承受伤害
									</div>
									<div class="data-num">
										{{item.totalBeHurt}}
									</div>
									<div class="data-charts">
										<div class="sufferHurt chats-bg" :style="{width: item.totalBeHurtRate/10 + '%'}"></div>
										<div class="charts-num">{{item.totalBeHurtRate/10}}%</div>
									</div>
								</li>
							</ul>
						</div>
						<div style="clear: both;"></div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/lib/jquery.min.js" ></script>
	<script type="text/javascript" src="../js/lib/fastclick.min.js" ></script>
	<script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../js/lib/vue.js" ></script>
	<script type="text/javascript" src="../js/recordData.js" ></script>
</html>
